#doh make sure you save this as ANSI, not UNICODE as notepad defaults to otherwise the ignore file will be ignored!!
**/*.txt
*.txt
**/logs  
*_junk
*UNIDEV.ps1
*Untitled*
*licenseduserList.txt
3PostMigrationSteps/AdminUpdate*
Tools/*.csv
Tools/dbatools